/* Blog Detail Page Styles */
.blog-detail-page {
  padding-top: 10rem;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #8f282; /* Header, footer өнгөтэй ижил буюу хөнгөн саарал */
  color: #333;
  line-height: 1.8;
  font-size: 1.6rem;
}

.page-banner {
  text-align: center;
  margin-bottom: 4rem;
}

.page-banner h1 {
  font-size: 3rem;
  color: var(white);
  margin-bottom: 0.5rem;
}

.page-banner p {
  font-size: 1.4rem;
  color: gray;
}

/* Зураг ба текст зэрэгцүүлэх */
.blog-detail-content {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  margin-top: 2rem;
}

.blog-image-wrapper {
  flex: 1;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-image-wrapper img {
  border-radius: 10px;
}

/* Зурагны доорх зохиогчийн нэр */
.blog-image-wrapper .blog-author {
  font-size: 2rem;
  color: #555;
  margin-top: 1rem;
  font-style: italic;
  text-align: center;
}

.blog-text-wrapper {
  flex: 2;
  color: #333;
  line-height: 1.6;
}


.blog-content p {
  font-size: 1.7rem;
  margin-bottom: 1.8rem;
  text-align: justify;
}

/* Хариу үйлдэлтэй (responsive) загвар */
@media (max-width: 768px) {
  .blog-detail-page {
    padding: 5rem 5%;
  }

  .page-banner h1 {
    font-size: 2.2rem;
  }

  .blog-detail-content {
    flex-direction: column;
  }

  .blog-image-wrapper {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .blog-content p {
    font-size: 1.5rem;
  }
}
